@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;   /* prevents sideways scroll */
  overflow-y: auto;     /* allows vertical scroll */
}

main {
  min-height: 100vh;
}
