---
import "../styles/global.css";

const { title = "phro.design", description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class="bg-black text-white font-sans antialiased overflow-x-hidden [scrollbar-gutter:stable]">
    <slot />
  </body>
</html>
